* {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300 !important;
  color: #ffffff;
}

body {
  background: url("../img/backgroundquadrillage.png") !important;
}

.linear-gradient {
  background: linear-gradient(#ff009993, #255b7993) !important;
}

h1, h2, h3 {
  font-weight: 700 !important;
  margin-top: 50px;
}

h2.valeur{
    margin-top : -15px;
}

.valeurtext{
    margin-bottom : 50px;
}

h1 {
  margin-top: 0 !important;
}

p, li {
  font-size: 25px;
}

article {
  font-size: 25px;
  text-align: justify;
  text-shadow:
        0 0 7px rgba(250, 250, 250, 0.096),
        0 0 10px rgba(212, 212, 212, 0.226),
        0 0 21px #888888
}


span {
  font-size: 25px;
}

/* Navbar */

.nav-wrapper{
  position: fixed;
}
#night{
  background: rgb(15, 16, 66) !important;
  opacity: 1;
}
/*Parallax 1*/
div.header {
  height: 80vh;
}

.container-video {
    position: relative;
    width: 100%;
    height: 100%;
}

.backgroundH {
  max-height: 80vh;
}

.neon {
    color: #fff;
    text-shadow:
        0 0 7px rgba(255, 255, 255, 0.247),
        0 0 10px rgba(255, 255, 255, 0.438),
        0 0 21px #ffaf60,
        0 0 42px #ffa64d,
        0 0 82px #ffb265,
        0 0 92px #ffa347,
        0 0 102px #ff9e3d,
        0 0 151px #ff9933;
}

.section {
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-left: 10%;
  padding-right: 10%;
}

.shadow {
  box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.03),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.05),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.06),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.08),
  100px 100px 80px rgba(0, 0, 0, 0.1) !important;
}

.row {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}

div.container-text {
  padding-top: 80px;
}

.menbreinfo{
    margin-bottom: 15px;
}

@media screen and (max-width: 1368px) {
  div.container-text {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }
  p.text-ade {
    padding-top: 6vh;
   
}
div.cart p{
    font-size: 1.1rem !important;
}
    div.boxes {
    margin-top: 10vh;
    }
    div h5 {
        text-align: center;
        font-size: 1.1rem !important;
    }
    div ul li {
        font-size: 0.9rem !important;
    }
}
div.box-container h3 {
  font-size: 2rem !important;
}
  div.box-container p {
      justify-content: center !important;
    text-overflow: clip;
    font-size: 1.3rem !important;
}


@media screen and (min-width: 250px) and (max-width: 500px) {
   .titretel{
       font-size : xx-large;;
   }

  .affiche {
    width: 100%;
    height: auto;
  }
  div.box-container h3 {
    justify-content: center !important;
  }
  div.box-container p {
    justify-content: center !important;
  text-overflow: clip;
  font-size: 1.1rem !important;
}
}

@media screen and (max-width: 900px) {
  .affiche {    
    width: 100%;
    height: auto;
  }
  p.text-ade {
    padding-top: 7vh;
    font-size: 1.3rem !important;
}
p {
    font-size: 1.3rem !important;
  }
}
    


.affiche {
  max-width: 400px !important;
}

.col-content {
  border-radius: 2vh;
  padding: 15px 15px 15px 15px;
  background-color: black;
}

.thing-left {
  margin-left: 50px;
}

.equipe {
  border-radius: 2vh;
}

.linkedin {
  width: 30px;
  height: 30px;
}

.no-margin-bottom {
  margin-bottom: 5px !important;
}

a {
  font-size: 25px !important;
  font-weight: 600 !important;
}

.button {
  padding: 15px 100px 50px 100px !important;
  background-color: #ff9933; 
}

.button:hover {
  background-color: #ff9933;
  box-shadow:
        0 0 7px rgba(255, 255, 255, 0.247),
        0 0 10px rgba(255, 255, 255, 0.438),
        0 0 21px #ffaf60,
        0 0 42px #ffa64d,
        0 0 82px #ffb265,
        0 0 92px #ffa347,
        0 0 102px #ff9e3d,
        0 0 151px #ff9933;
}

.mission-big-text {
  font-size: 40px;
  margin-top: 100px;
}

.valign-wrapper {
  padding-bottom: 0 !important;
}

.no-bottom-row {
  padding-bottom: 0 !important;
}

.max-100 {
  max-width: 80%;
  height: 40vh !important;
}

.justify-content-center {
  display: flex !important;
  justify-content: center !important;
}

#col-color {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 25%,
  rgba(0,0,0,0.65) 37.5%, rgba(0,0,0,0.7) 50%, rgba(0,0,0,0.65) 75%, rgba(0, 0, 0, 0.5) 85%,
  rgba(0, 0, 0, 0) 100%);
}

.page-footer{
  background: rgb(15, 16, 66) !important;
  width: 100%;
  height: 100%;
}