* {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300 !important;
  color: #ffffff;
}

body {
  background: url("../img/backgroundquadrillage.png") !important;
}

.linear-gradient {
  background: linear-gradient(#ff009993, #255b7993) !important;
}

h1, h2, h3 {
  font-weight: 700 !important;
  margin-top: 50px;
}

h1 {
  margin-top: 0 !important;
}

p {
  font-size: 25px;
  text-shadow:
        0 0 7px rgba(250, 250, 250, 0.096),
        0 0 10px rgba(212, 212, 212, 0.226),
        0 0 21px #888888,
        0 0 42px #a0a0a0,
        0 0 82px #747474,
        0 0 92px #6b6b6b,
        0 0 102px #464646,
        0 0 151px #333333;
}

span {
  font-size: 25px;
}

/*Parallax 1*/
div.header {
  height: 80vh;
}

.container-video {
    position: relative;
    width: 100%;
    height: 100%;
}

.backgroundH {
  max-height: 80vh;
}

.neon {
    color: #fff;
    text-shadow:
        0 0 7px rgba(255, 255, 255, 0.247),
        0 0 10px rgba(255, 255, 255, 0.438),
        0 0 21px #ffaf60,
        0 0 42px #ffa64d,
        0 0 82px #ffb265,
        0 0 92px #ffa347,
        0 0 102px #ff9e3d,
        0 0 151px #ff9933;
}

.section {
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-left: 10%;
  padding-right: 10%;
}

.shadow {
  box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.03),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.05),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.06),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.08),
  100px 100px 80px rgba(0, 0, 0, 0.1) !important;
}

.row {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}

.affiche {
  max-width: 400px !important;
}

.col-content {
  border-radius: 2vh;
  padding: 15px 15px 15px 15px;
  background-color: black;
}

.thing-left {
  margin-left: 50px;
}

.equipe {
  border-radius: 2vh;
}

.linkedin {
  width: 30px;
  height: 30px;
}

.no-margin-bottom {
  margin-bottom: 5px !important;
}

.menbreinfo{
    margin-bottom: 15px;

}